
.container {
  margin: 10px;
}
#colorBox {
  border: 3px solid black;
  height: 150px;
  width: 150px;
  margin: 20px;
  margin-left: auto ;
  margin-right: auto ;
  border-radius: 50%;
}

p #colorBox {
  position: relative;
}

.hintSpace {
  height: 20px;
}

.helpSpace {
  height: 20px;
}

.helpDisplay {
  padding: 0px;
  margin: 0px;
}

.hintDisplay {
  display: none;
  color: black;
  padding: 10px;
}

.question {
  text-align: center;
}

.question a {
  display: block;
  margin: 10px;
}

h1 {
  text-align: center;
}

h4 {
  margin: 0;
  display: inline;
}
