

#colorBox {
  border: 3px solid black;
  height: 150px;
  width: 150px;
  margin: 20px;
  margin-left: auto ;
  margin-right: auto ;
  border-radius: 50%;
}

h1 {
  text-align: center;
}

h4 {
  margin: 0;
  display: inline;
}

h3 {

}
.hintSpace {
  height: 60px;
}
.hintDisplay {
  display: none;
  color: black;
  padding: 10px;
}

.question {
  text-align: center; i
}

a {
  display: block;
}

#answeredQ {
  display: inline;
  padding: 0;
  margin: 0;
}
